<h1>Hola</h1>

{{!-- <h2>Bienvenido {{user.first_name}} {{user.last_name}}</h2> --}}
<h2>Bienvenido{{user}}</h2>

<button id="logoutBtn" type="button"><a href="/api/users/login">Cerrar sesión</a></button>
{{!-- <button id="logoutBtn" type="button"><a href="/login"></a>Cerrar sesión</button>  --}}
{{!-- <script src="./index.js"></script> --}}
{{!-- <button id="logoutBtn" type="button">Cerrar sesión</button> --}}


