

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h2 {
    font-size: 1.2rem;
    margin: 5px 0;
}

.product-card p {
    margin: 5px 0;
}

.product-card button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #0056b3;
}


/* Estilo para el formulario */
form {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
}

/* Estilo para etiquetas */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Estilo para campos de entrada de texto */
input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para botones */
button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
